In [1]:
#Unique words in a sentence
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)

print(f"Unique words count: {len(unique_words)}")
print(f"Unique words: {unique_words}")

Enter sentence: what is your name?
Unique words count: 4
Unique words: {'is', 'name?', 'what', 'your'}

In [2]:
#Highest salary
employees = {"Ravi": 75000, "Anita": 68000, "Kiran": 72000}

# Finding the person with the max salary
highest_paid = max(employees, key=employees.get)
print(f"Highest Salary: {highest_paid} - {employees[highest_paid]}")

Highest Salary: Ravi - 75000

In [3]:
#Max and min values
numbers = [45, 22, 89, 10, 66]
print(f"List: {numbers}")
print(f"Max: {max(numbers)}")
print(f"Min: {min(numbers)}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
#Price threshold count
prices = [450, 1200, 899, 1500, 300]
count = sum(1 for price in prices if price > 1000)
print(f"Products above 1000: {count}")

Products above 1000: 2

In [5]:
#Attendance percentage
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
percentage = (present_count / len(attendance)) * 100
print(f"Attendance Percentage: {percentage}")

Attendance Percentage: 80.0

In [6]:
#Removing duplicates from a list
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print(f"Unique phone numbers: {unique_numbers}")

Unique phone numbers: {9876543210, 9123456789}

In [7]:
#Count character frequency
text = "python"
freq = {char: text.count(char) for char in text}
print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
#List to Tuples
my_list = [10, 20, 30]
my_tuple = tuple(my_list)
print(f"Tuple: {my_tuple}")

Tuple: (10, 20, 30)

In [9]:
#Dictionary key check
employee_data = {"ID": 101, "Name": "Alice", "Dept": "AI"}
if "Name" in employee_data:
    print("Employee exists")

Employee exists

In [10]:
#Average marks
marks = [80, 70, 65, 75]
average = sum(marks) / len(marks)
print(f"Average Marks: {average}")

Average Marks: 72.5